# IDE's dependencies
.vscode
.idea

# 3rd libraries
googletest
libserial

# Compiling output
build
build.log
m2m-serial
test_lins355
cmake-build-debug
cmmake-build-release

# Runtime output
*.csv

# Generate documents
docs/diagrams/out/*.png
